

<div class="viewer-container">
    <div class="content" *ngIf='foodList | search:str; let list'> <!-- search:str permette di filtrare effettivamente la lista -->
        <div class="restaurant-box"  (click)="openDialog(i.getMenu())" *ngFor='let i of list'>
            {{i.getNome()}} {{i.getCucina()}} <!-- {{(i.menu)[0].nome}}-->
            
        </div>

        <!-- visualizzazione immagine "errore" -->
        <div class="noResult" *ngIf='list.length === 0'>
            <img class="image" style="height: auto; width: 550px;" src="../../../assets/drakeNothingHere.png">
            <p class="text">No Results</p>
        </div>
    </div>
      

</div>
