<!-- 
<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  My favorite animal is: {{data.animal}}
  <ul>
    <li>
      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda
    </li>
    <li>
      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn
    </li>
    <li>
      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion
    </li>
  </ul>
</div> -->

<div class="container">
  <div mat-dialog-content *ngFor="let i of listaProdotti">

    <div class="head">
      <h1 id="productName">{{i.getNome()}}</h1>
      <label for="productName"> {{i.getPrezzo()}} €</label>
    </div>
    <div class="ingredients">
      <label>Ingredienti</label>
      <p style="font-style: italic;">{{i.getIngredienti()}}</p>
    </div>
    <!-- <tr class="list">
        <h2>Ingredienti</h2>
        <ul *ngFor="let ingrediente of i.getIngredienti()">
          <li>{{ingrediente}}</li>
        </ul>
      </tr> -->
    <div class="counter">
      <label>Kg:</label>
      <div class="row">
        <div class="col-lg-4 mt-2">
          <button class="col-lg-12 btn btn-dark" (click)="decrease(i)">-</button>
        </div>
        <div class="col-lg-4 mt-2">
          <input class="col-lg-12" [(ngModel)]="counterN" type="text" name="{{i.getId()}}}" id="{{i.getId()}}}"
            placeholder="0">
        </div>
        <div class="col-lg-4 mt-2">
          <button class="col-lg-12 btn btn-dark" (click)="increase(i)">+</button>
        </div>
      </div>
    </div>

  </div>



  <button class="button">Aggiungi al carrello</button>
</div>